html,
body {
  background-color: #333;
  color: #ddd;
}

#game {
  display: flex;
}

#leftP {
  min-width: 140px;
}

.panel {
  background-color: rgb(87, 87, 87);
  margin: 5px;
  padding: 5px;
}

#rightP {
  flex-grow: 5;
  max-width: 800px;
}

.list {
  border-collapse: collapse;
}
.list th,
td {
  padding: 3px 8px;
}
.list tr {
  border-bottom: 1px solid #ddd;
}
.list .selected {
  font-weight: bold;
  color: #eee;
}
