html,
body {
  background-color: #333;
  color: #ddd;
  overflow: hidden;
}

#verticalFlex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5px;
  margin: 0px;
}

.header {
  height: 25px;
  margin: 20px 0px;
  font-size: larger;
}

.headerValue {
  font-size: x-large;
  font-weight: bold
}

.headerElement {
  margin-right: 15px;
}

#flex {
  display: flex;
  flex-direction: row;
  height: calc(100% - 35px);
  flex-grow: 1;
}

.panel {
  background-color: #484848;
  /*min-height: 100%;*/
  
}

#leftPanel {
  flex-basis: 40%;
  margin-right: 10px;
  padding: 5px;
  min-height: calc(100vh - 117px);
  max-height: calc(100vh - 117px);
  position:relative;
  overflow: hidden;
}

#log {
  position: absolute;
  bottom: 0;
  height: 150px;
  margin-right: 5px;
}

#log p {
  margin: 3px 0px;
}

#mainPanel {
  flex-grow: 5;
  flex-basis: 60%;
  padding: 0px;
  min-height: calc(100vh - 107px);
  max-height: calc(100vh - 107px);
}

.starfield {
  cursor: crosshair;
}

.progress {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 21px;
  background-color: rgb(87, 87, 87);
  position: relative;
}

.button {
  border: 1px #ddd solid;
  display: inline-block;
  padding: 3px 5px;
  background-color: #222;
  cursor: pointer;
  user-select: none; 
}

.button p, .milestone p {
  margin: 0px;
}

.button:hover:not(.disabled) {
  background-color: #888;
}

.button.disabled {
  background-color: #666
}

.upgrade.button {
  margin-bottom: 5px;
  display: block;
}

#collapse {
  text-align: center;
}
.collapse.button {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.upgradeName {
  font-weight: bold;
}
.upgradeDesc {
  font-size: small;
}

.milestone {
  border: 1px #ddd solid;
  padding: 3px 5px;
  background-color: #222;
  user-select: none;
  margin-bottom: 5px;

 }

.milestone.disabled {
  background-color: #666
}

.tabs {
  margin-bottom: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
}
.tabPane {
  border-top: 1px #ddd solid;
  padding-top: 6px;
  box-sizing: border-box;
}

.tab {
  padding: 0px 2px 3px 2px;
  border: 1px #ddd solid;
  display: inline-block;
  border-bottom: none;
  cursor: pointer;
  user-select: none;
}
.tab.selected {
  background-color: #222;
}
.tab:not(.selected):hover {
  background-color: #888;
}